@import "../../assets/css/vars.scss";

.landing-page-wrapper {
}

.landing-page-main {
}

.landing-page-header {
  text-align: center;
  padding: $spacing-xl;
  &__item {
    padding: $spacing-md;
  }
  &__title {
    font-size: $font-size-lg;
  }
  &__meta {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    &__item {
      padding: $spacing-md;
    }
  }
}

.landing-page-body {
  text-align: center;
}

@media screen and (min-width: $MQ-md) {
  .landing-page-header {
    &__meta {
      width: 50%;
    }
  }
}
