@import "../../assets/css/vars.scss";

.post-detail-page-wrapper {
}

.post-detail-page-main {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: $MQ-sm) {
  .post-detail-page-main {
    width: 80%;
  }
}

@media screen and (min-width: $MQ-md) {
  .post-detail-page-main {
    width: 70%;
  }
}

@media screen and (min-width: $MQ-lg) {
  .post-detail-page-main {
    width: 60%;
  }
}
