@import "../../assets/css/vars.scss";
@import "../../assets/css/effects.scss";
@import "../../assets/css/modules.scss";

$input-width: 85%;

.create-post-form {
  width: 90%;
  margin: auto;
  &__item {
    display: flex;
    justify-content: space-between;
    padding: $spacing-lg;
    &__field {
      font-size: $font-size-md;
    }
    &__input {
      font-size: $font-size-md;
      @include defaultInput();
      width: $input-width;
      &--area {
        resize: none;
        height: 300px;
      }
    }
    &__btn {
      margin: auto;
      width: 200px;
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: $MQ-md) {
  .create-post-form {
    width: 60%;
    &__item {
      &__btn {
        width: 250px;
      }
    }
  }
}

@media screen and (min-width: $MQ-lg) {
  .create-post-form {
    width: 50%;
    &__item {
      &__btn {
        width: 300px;
      }
    }
  }
}
