@import "../../assets/css/vars.scss";
.about-page-wrapper {
  width: 90%;
  margin: auto;
}

.about-page-main {
  &__item {
    padding: $spacing-xl;
  }
  &__title {
    font-size: $font-size-xl;
    text-align: center;
  }
  &__desc {
    white-space: pre-line;
  }
}

@media screen and (min-width: $MQ-sm) {
  .about-page-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: $MQ-md) {
  .about-page-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: $MQ-lg) {
  .about-page-wrapper {
    width: 40%;
  }
}

@media screen and (min-width: $MQ-xl) {
  .about-page-wrapper {
    width: 30%;
  }
}
